{% extends 'base.html'%} {% macro display_new_sources(sources_outcome) %}
<div class="container-fluid">
  <div class="card-columns">
    {% for news in sources_outcome %}
    <div class="card">
      <div class="card-header" id="headername">
        <h4 style="text-align: center; color: cornsilk;">
          <a href="/articles/{{news.id}}">{{news.name}}</a>
        </h4>
      </div>
      <div class="card-body">
        <p class="desc">
          {{news.description}}
        </p>
        <p class="desc">
          Category: {{news.category}}
        </p>
        <p class="desc">
          Language: {{news.language}}
        </p>
        <p>Visit site: <a href="{{news.url}}">{{news.url}}</a></p>
      </div>

      <div class="card footer">
        <br />
        <a href="/articles/{{news.id}}"
          ><button class="btn btn-md btn-info">Read Articles</button>
        </a>
        <br />
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endmacro %} {% macro display_new_articles(articles_outcome) %}
<div class="container-fluid" class="container-fluid">
  <div class="card-columns">
    {% for article in articles_outcome %}
    <div class="card"style="padding: 20px;margin-bottom: 20px; margin-top: 20px;">
      <div class="card-header title">
        <h4>{{article.title}}</h4>
      </div>
      <div class="card-body">
        <img
          src="{{article.urlToImage}}"
          alt="{{article.title }}"
          class="card-img"
        />
        <hr />
        <p class="desc">
          {{article.description}}
        </p>
        <p disabled>
          Posted: {{article.publishedAt | truncate(18)}} By: {{article.author |
          truncate(16)}}
        </p>
      </div>
      <div class="card-footer">
        <a href="{{article.url}}"
          ><button class="btn btn-md btn-info">Read Article</button></a
        >
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endmacro %} {% macro display_Source_articles(source_articles) %}
<div class="container" id="articles">
  <div class="row">
    {% for art in source_articles %}
    <div class="col-md-12">
      <div class="card" style="padding: 10px;margin-bottom: 20px">
        <div class="card-header title">
          <h4>{{art.title | truncate(58)}}</h4>
        </div>
        <div class="card-body">
          <img src="{{art.urlToImage}}" alt="{{art.title}}" class="card-img" />
          <p class="desc" style="font-size: 20px;">{{art.description}}</p>
          <p disabled>
            Posted: {{art.publishedAt | truncate(18)}} By: {{art.author}}
          </p>
        </div>
        <div class="card-footer">
          <a href="{{art.url}}"
            ><button class="btn btn-md btn-info">Read Article</button></a
          >
        </div>
      </div>
    </div>
    <!-- <div class="col-md-6">
      <div class="card-image" style="padding: 20px;margin-bottom: 20px; margin-top: 20px;">
        <img src="{{art.urlToImage}}" alt="{{art.title}}" class="card-img" />
      </div>
    </div> -->
    {% endfor %}
  </div>
</div>

{% endmacro %}
