<nav
  class="navbar navbar-expand-lg navbar-light navbar-inverse navbar-toggleable-md "
  role="navigation"
  style="background-color: rgba(64, 119, 136, 0.9);"
>
  <a
    class="navbar-brand"
    href="/"
    style="color: whitesmoke; font-size: 25px; padding: 5px;"
    >NEWS</a
  >
  <button
    type="button"
    class="navbar-toggler"
    data-target="#navbarSupportedContent" 
    aria-controls="navbarSupportedContent"
    aria-expanded="false" 
    aria-label="Toggle navigation"
    data-toggle="collapse"   
    aria-expanded="false"
  >
    <span class="navbar-toggler-icon" class="sr-only"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a
          class="nav-link"
          href="/"
          style="color: whitesmoke; font-size: 15px; padding-left: 15px;"
          >Home<span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item active">
        <a
          class="nav-link"
          href="/News-Articles"
          style="color: whitesmoke; font-size: 15px; padding-left: 15px;"
        >
          Trending News
        </a>
      </li>
    </ul>
  </div>
</nav>
